<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zking.mybatis02.mapper.BookMapper">
  <resultMap id="BaseResultMap" type="com.zking.mybatis02.model.Book">
    <constructor>
      <arg column="id" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="bookname" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="price" javaType="java.lang.Float" jdbcType="REAL" />
      <arg column="booktype" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <insert id="insert" parameterType="com.zking.mybatis02.model.Book">
    insert into t_book (bookname, price,
      booktype)
    values ( #{bookname,jdbcType=VARCHAR}, #{price,jdbcType=REAL},
      #{booktype,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zking.mybatis02.model.Book">
    insert into t_book
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="bookname != null">
        bookname,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="booktype != null">
        booktype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="bookname != null">
        #{bookname,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=REAL},
      </if>
      <if test="booktype != null">
        #{booktype,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="queryList" resultType="com.zking.mybatis02.model.Book">
    select id,bookname, price, booktype from t_book
  </select>
  <select id="queryForeach" resultType="com.zking.mybatis02.model.Book"
          parameterType="com.zking.mybatis02.vo.BookVO">
    select id,bookname, price, booktype from t_book where 1=1 and id in
    <foreach collection="ids" item="bid" open="(" close=")" index="1" separator=",">
      #{bid}
    </foreach>
  </select>
  <select id="queryLike" resultType="com.zking.mybatis02.model.Book"
          parameterType="com.zking.mybatis02.model.Book">
    select id,bookname, price, booktype from t_book where 1=1
    <if test="null!=bookname and ''!=bookname">
      and bookname like concat(concat('%',#{bookname}),'%')
    </if>
  </select>
  <select id="resultLstMap" resultType="com.zking.mybatis02.model.Book">
    select id,bookname, price, booktype from t_book where 1=1
  </select>
  <select id="resultLst" resultType="com.zking.mybatis02.model.Book">
     select id,bookname, price, booktype from t_book where 1=1
  </select>
  <select id="querySing" resultType="com.zking.mybatis02.model.Book">
    select id,bookname, price, booktype from t_book where 1=1 and id=#{id}
  </select>
  <select id="queryLM" resultType="map">
    select id,bookname, price, booktype from t_book where 1=1
  </select>
  <select id="queryMap" resultType="map">
     select id,bookname, price, booktype from t_book where 1=1 and id=1
  </select>
  <select id="queryPager" resultType="com.zking.mybatis02.model.Book"
          parameterType="com.zking.mybatis02.model.Book">
    select id,bookname, price, booktype from t_book where 1=1
    <if test="null!=bookname and ''!=bookname">
      and bookname like concat(concat('%',#{bookname}),'%')
    </if>
  </select>
  <select id="queryPrice" resultType="com.zking.mybatis02.model.Book"
          parameterType="com.zking.mybatis02.vo.BookVO">
    select id,bookname, price, booktype from t_book where price &gt;=#{minPrice} and price &lt;=#{maxPrice}
  </select>

</mapper>